/*  
    Note:

    Check for the borders
    Remove it before deploying
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --main-bg-color: #FFF2E7;
    --span: #cb6ce6;
    --wrap: #004aad;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

nav {
    height: 5.6rem;
    width: 100%;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 1.25rem;
}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 0.313rem;
}

nav ul li a {
    text-decoration: none;
    margin: 0.313rem 0.313rem;
    color: black;
    font-size: 1.063rem;
    text-transform: uppercase;
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.text-container {
    width: 35rem;
    font-size: 3rem;
    font-family: 'blinker', sans-serif;
    font-weight: bold;
}

span {
    color: var(--span);
}
.typewrite, .wrap {
    text-decoration: none;
    color: var(--wrap);
}

.company_logo {
    height: auto;
    width: 30rem;
}
